<ion-view>
	<ion-nav-title>{{Contact.LastName}}</ion-nav-title>
	<ion-content padding="true" class="has-header">
    <div id="contact-markdown1" class="show-list-numbers-and-dots">
		<p>{{Contact.FirstName}}</p>
		<p>{{Contact.LastName}}</p>
		<p>{{Contact.Organization}}</p>
		<p>{{Contact.email}}</p>
    </div>
		<div>
		<img src="https://127.0.0.1/4DACTION/image?table=1&id={{Contact.id}}" style="display: block; width: 100%;
			height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>
